* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

header {
    background-color: #f0f0f0;    
    width: 100%;
    /* عشان يخلي ثابت في الصفحة*/
    position: fixed;
    /*عشان يخليه ما يدخل في العناصر*/
    z-index: 999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 200px ;
}

.loge {
    text-decoration: none; /*الخط تابع الرابط*/
    color: #3a6cf4;
    text-transform: uppercase; /*جعل جميع الحروف كبيره*/
    font-weight: 700;/*تكبير الكلمه*/
    font-size: 1.8em;/*تكبير الحجم الكلمه*/
}

.nav a{
    text-decoration: none;
    color: #3a6cf4;
    font-size: 1.1em;
    font-weight: 500;
    padding-left: 30px;
}

/*عند النقر ع الرابط يتغير اللون*/
.nav a:hover {
    color: #601cfc;
}

section {
    padding: 100px 200px;
}

.main {
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    background: url('../img/logo.jpg') no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.main h2 {
    color: #f0f0f0;
    font-size: 1.5em;
    font-weight: 500;
}

.main h2 span {
    color: #3a6cf4;
    font-size: 1.6em;
    font-weight: 550;
}

.main h3 {
    color: #f0f0f0;
    font-size: 2em;
    font-weight: 700;
    letter-spacing: 1px;
    margin-top: 10px ;
    margin-bottom: 10px;
}

.main p {
    margin-bottom: 40px ;
    color: #f0f0f0;
    font-size: 1.5em;
    font-weight: 600;
    margin-top: 10px;
}

.main-btn {
    color: #f0f0f0;
    background-color: #3a6cf4;
    text-decoration: none;
    font-size: 1.1em;
    font-weight: 600;
    display: inline-block;
    padding: 0.9375em 2.187em;
    letter-spacing: 1px;
    border-radius: 15px;
    transition: 0.7s ease;
}

.main-btn:hover {
    background-color: #0a49f6;
    transform: scale(1.1);
}

.medie-icons {
    color: #f0f0f0;
    font-size: 1.7em;
    padding: 10px;
}

.woh h2{
    text-align: center;
    font-size: 2.2em;
    font-weight: 700;
    font-weight: 800;
    padding-top: 0px;
    color: #3a6cf4;
}

.woh p {
    text-align: center;
    font-size: 1.3em;
    font-weight: 500;
    padding-top: 20px;
}

.Services h2 {
    display: flex;
    justify-content: center;
    font-size: 2.2em;
    font-weight: 800;
    color: #3a6cf4;
    margin-bottom: 30px;
}

.contact {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.card {
    background-color: #fff;
    width: 21.25em;
    box-shadow: 0 5px 25px rgba(1,1,1, 15%);
    border-radius: 10px;
    padding: 25px;
    margin: 15px;
    transition: 0.7s ease;
}

.card:hover {
    background-color: #f0f0f0;
    transform: scale(1.1);
}

.icon {
    color: #0a49f6;
    font-size: 8em;
    text-align: center;
}

.info {
    text-align: center;
}

.info h3 {
    color: #0a49f6;
    font-size: 1.2em;
    font-weight: 700;
    margin: 10px;
}

.myWork {
    background-color:#000016;
}

.myWork h3{
    display: flex;
    justify-content: center;
    font-size: 2.2em;
    font-weight: 800;
    color: #3a6cf4;
    margin-bottom: 30px;
}

.cards-work {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.card-work {
    background-color: #fff;
    width: 21.25em;
    box-shadow: 0 5px 25px rgba(1,1,1, 15%);
    border-radius: 10px;
    padding: 25px;
    margin: 15px;
    transition: 0.7s ease;
}

.card-work:hover {
    background-color: #f0f0f0;
    transform: scale(1.1);
}

.contact h2 {
    display: flex;
    justify-content: center;
    font-size: 2.2em;
    font-weight: 800;
    color: #3a6cf4;
    margin-bottom: 30px;
}

.footer {
    background-color: #000016;
    color: #fff;
    padding: 2em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer p {
    font-size: 1.3em;
    font-weight: 600;
}

.footer p span {
    color:#3a6cf4 ;
}

.footer .medie-icons a {
    font-size: 1.3em;
}

/*لعمل الموقع تفتح ع جميف الجهزه من المتصفح*/
@media (max-width:1023px) {
    header {
        padding: 6px 10px;
    }
    .nav a {
        padding-left: 5px;
    }
    .loge {
        font-size: 1em;
    }
    section {
        padding: 80px 20px;
    }
    .main h2 {
        font-size: 1em;
    }
    .main h3 {
        font-size: 1.6em;
    }
    .contact {
        flex-direction: column;
        align-items: center;
    }
}
@media (max-width:641px) {
    body {
        font-size: 11.5px;
    }
    .main h2 {
        font-size: 0.8em;
    }
    .main h3 {
        font-size: 1.4em;
    }
    .card-work img {
        width: 200px ;
    }
}
@media (max-width:300px) {
    body {
        font-size: 10px;
    }
}
